<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lahaptech.lahap">

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".user.home.orderstatus.OrderDetailActivity"></activity>
        <activity android:name=".user.orderlocation.directorder.DirectOrderFormActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".HasilActivity" /> <!-- <activity -->
        <!-- android:name=".user.UserActivity" -->
        <!-- android:label="@string/title_activity_user"/> -->
        <activity
            android:name=".user.orderlocation.indirectorder.IndirectOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.orderlocation.indirectorder.IndirectOrderFormActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".user.orderlocation.directorder.DirectOrderActivity" />
        <activity
            android:name=".user.home.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".auth.LoginSellerActivity" />
        <activity android:name=".user.orderlocation.OrderLocationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".user.cart.CartActivity" />
        <activity android:name=".owner.update.UpdateProductDetailActivity" />
        <activity android:name=".owner.update.UpdateProductActivity" />
        <activity android:name=".user.detailproduct.DetailActivity" />
        <activity android:name=".owner.AddNewProductActivity" />
        <activity android:name=".owner.order.CheckOrderActivity" />
        <activity android:name=".owner.HomeOwnerActivity" />
        <activity android:name=".user.menuproduct.SelectMenuActivity" />
        <activity
            android:name=".auth.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".auth.LoginUserActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>